#character-page {
  color: #444;
  padding-top: 50px;
}

#character-page form {
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 20px auto;
  max-width: 1082px;
  padding: 20px;
}

#character-page form > button {
  position: absolute;
  top: 40px;
}

.character-sheet > .object-container {
  display: grid;
  grid-template-columns: minmax(541px, 1fr) minmax(541px, 1fr);
}

#character-page input {
  border: 1px solid #aaa;
  border-radius: 4px;
  color: inherit;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 5px;
  padding: 1px 6px;
}

#character-page input:focus {
  outline: none;
}

#character-page legend {
  color: #aaa;
}

.character-section-container {
  display: grid;
}

.custom-input-field {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.custom-input-field.inline {
  flex-direction: row;
  line-height: 28px;
}

.custom-input-field.inline label {
  margin-left: 10px;
}

.custom-input-field.inline input[type="number"] {
  padding: 1px !important;
  text-align: center;
  width: 24px;
}

#character-page input[type="number"] {
  -moz-appearance: textfield;
}

#character-page input[type="number"]::-webkit-outer-spin-button,
#character-page input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; 
}

.custom-input-field label {
  color: #aaa;
  font-size: 13px;
}

.character-base {
  grid-column-start: span 2;
}

#base {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#base .name {
  grid-column: 1;
}

#base .name input {
  line-height: 40px;
  font-size: 18px;
}

#base .character-details-container {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 24% 10% 33% 33%;
  grid-template-rows: 1fr 1fr;
}

#base .character-details-container .details-class {
  margin-right: 0;
}

#base .character-details-container .details-class input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#base .character-details-container .details-level {
  margin-left: 0;
}

#base .character-details-container .details-level input {
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  text-align: center;
}

#base .character-details-container .details-level label {
  text-align: center;
}

#base .character-details-container .details-race {
  grid-column: span 2;
}

#stats {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#stats #abilities {
  display: flex;
  flex-direction: column;
  grid-row: 2;
}

#stats #abilities .custom-input-field {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
}

#stats #abilities label {
  line-height: 40px;
  margin-left: 20px;
}

#stats .ability-score-display {
  position: relative;
}

#stats .ability-score-display .ability-score {
  font-size: 22px;
  line-height: 37px;
  margin-bottom: 0;
  padding: 1px;
  padding-left: 6px;
  text-align: left;
  width: 44px;
}

#stats .ability-score-display .ability-bonus {
  background: white;
  border: 1px solid #aaa;
  border-radius: 25px;
  left: 38px;
  line-height: 23px;
  padding-top: 2px;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 25px;
}

#stats #saves {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
  grid-row: 5;
}

#stats #saves legend {
  border-bottom: 1px solid #ddd;
  margin-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

#stats #saves .custom-input-field input {
  border-radius: 0;
  border-width: 0 0 1px;
  margin-left: 20px;
  margin-right: 10px;
}

#stats #skills {
  border: 1px solid #ddd;
  border-radius: 4px;
  grid-column: 2;
  grid-row: 1 / 6;
  margin: 10px;
}

#stats #skills legend {
  border-bottom: 1px solid #ddd;
  margin-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

#stats #skills .custom-input-field div {
  margin-left: 10px;
}

#stats #skills .custom-input-field input {
  border-radius: 0;
  border-width: 0 0 1px;
  margin-left: 20px;
  margin-right: 10px;
}

#stats #skills .custom-input-field label {
  border-left: 1px solid #ddd;
  line-height: 52px;
  margin: -10px 10px;
  padding-left: 20px;
}

#stats #skills .custom-input-field:last-child input {
  margin-bottom: 16px;
}
#stats #skills .custom-input-field:last-child label {
  padding-bottom: 16px;
}

#stats .inspiration #inspiration {
  height: 26.797px;
}

#stats > .custom-input-field > input,
#stats > .inspiration > #inspiration {
  border-radius: 4px 0 0 4px;
  margin: 0;
}

#stats > .custom-input-field > label {
  border: 1px solid #ddd;
  border-left-width: 0;
  border-radius: 0 4px 4px 0;
  margin-left: 0;
  padding: 0 10px;
  width: 100%;
}

#combat {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#combat > .custom-input-field {
  position: relative;
}

#combat > .custom-input-field > input {
  border-radius: 75px;
  font-size: 28px;
  line-height: 75px;
  padding: 1px;
  text-align: center;
  width: 75px;
}

#combat > .custom-input-field > label {
  margin-top: 5px;
  text-align: center;
  width: 79px;
}

#combat > .custom-input-field.initiative > input {
  position: absolute;
  right: 0;
}

#combat > .custom-input-field.initiative > label {
  bottom: 0;
  position: absolute;
  right: 0;
}

#combat > .custom-input-field.ac > input {
  margin: 0 auto 5px;
}

#combat > .custom-input-field.ac > label {
  margin: 5px auto 0;
}

#combat #health {
  display: grid;
  grid-column: span 3;
  grid-template-columns: 50% 50%;
}

#combat #health .character-hp {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: grid;
  grid-column: span 2;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
}

#combat #health .character-hp legend {
  border-bottom: 1px solid #ddd;
  grid-column: span 3;
  padding: 5px 0;
  text-align: center;
}

#combat #health .character-hp .custom-input-field {
  text-align: center;
}

#combat #health .character-hp .custom-input-field input {
  line-height: 50px;
  font-size: 24px;
  margin: 5px auto;
  text-align: center;
  width: 100px;
}

#combat #health .character-hd {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin: 10px;
}

#combat #health .character-hd label {
  text-align: center;
}

#combat #health .character-hd input {
  text-align: center;
}

#combat #health .character-hd .hd-total {
  margin-left: 20px;
  margin-right: 0;
}

#combat #health .character-hd .hd-total input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#combat #health .character-hd .hd-used {
  margin-left: 0;
  margin-right: 20px;
}

#combat #health .character-hd .hd-used input {
  border-left-width: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#combat #health .character-hd legend {
  border-bottom: 1px solid #ddd;
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}

#combat #health .character-death-saves {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
}

#combat #health .character-death-saves > legend {
  border-bottom: 1px solid #ddd;
  grid-column: span 2;
  height: 19px;
  padding: 5px;
  text-align: center;
}

#combat #health .character-death-saves > .custom-input-field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#combat #health .character-death-saves > .custom-input-field > div {
  margin: 0 auto;
}

#combat #health .character-death-saves > .custom-input-field > label {
  grid-column: span 3;
  text-align: center;
}

#combat #attacks {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: grid;
  grid-column: span 3;
  margin: 10px;
}

#combat #attacks > legend {
  border-bottom: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

#combat #attacks > .attack-container {
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
}

#combat #attacks > .attack-container:last-child {
  border-bottom: none;
}

#combat #attacks > .attack-container input {
  width: calc(100% - 14px);
}

#combat #attacks > .attack-container > div {
  margin-bottom: 6px;
}

#combat #attacks > .attack-container > div > input {
  text-align: center;
}

#combat #attacks > .attack-container > div > label {
  text-align: center;
}

#combat #attacks > .attack-container > div:nth-child(n+3):not(:last-child) {
  margin-right: 0;
}

#combat #attacks > .attack-container > div:nth-child(n+3):not(:last-child) input {
  border-radius: 4px 0 0 4px;
}

#combat #attacks > .attack-container > div:last-child {
  margin-left: 0;
}

#combat #attacks > .attack-container > div:last-child input {
  border-left: 0;
  border-radius: 0 4px 4px 0;
}

.character-gear {
  grid-column: span 2;
}

#gear {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

#gear #equipment {
  grid-column: 1;
  grid-row: span 2;
}

#character-page .items-container {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin: 10px;
}

#character-page .items-container legend {
  border-bottom: 1px solid #ddd;
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}

#character-page .items-container .custom-input-field {
  margin: 0 10px;
}

#gear #equipment .custom-input-field:nth-last-child(-n+2),
#gear #treasure .custom-input-field:nth-last-child(-n+2) {
  margin-bottom: 10px;
}

#character-page .items-container .custom-input-field input {
  border-radius: 0;
  border-width: 0 0 1px 0;
}

#gear #gold {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#gear #gold .custom-input-field {
  margin-bottom: -20px;
}

#gear #gold .custom-input-field input {
  border-radius: 75px;
  font-size: 20px;
  height: 75px;
  margin: 0 auto;
  padding: 1px;
  text-align: center;
  width: 75px;
}

#gear #gold .custom-input-field label {
  border: 1px solid #aaa;
  border-radius: 20px;
  font-size: 12px;
  height: 20px;
  line-height: 22px;
  margin: 0 auto;
  padding: 1px;
  position: relative;
  text-align: center;
  top: -24px;
  width: 20px;
}

#info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.character-info {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  grid-column: span 2;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}

#info #description {
  display: grid;
  grid-column: 3 / 5;
  grid-template-columns: repeat(3, 1fr);
}

#info #proficiencies,
#info #languages {
  grid-row: 1 / 3;
  grid-template-columns: 1fr;
}

#info #proficiencies legend,
#info #languages legend {
  grid-column: span 1;
}

#info #proficiencies .custom-input-field:last-child,
#info #languages .custom-input-field:last-child,
#info #characteristics .items-container .custom-input-field:last-child,
#info #features .custom-input-field:last-child,
#info #allies .custom-input-field:last-child {
  margin-bottom: 10px;
}

#info #characteristics {
  display: grid;
  grid-column: span 2;
  grid-row: span 2;
  grid-template-columns: repeat(2, 1fr);
}

#info #characteristics .items-container {
  grid-template-columns: 1fr;
}

#info #characteristics .items-container legend {
  grid-column: span 1;
}

#info #features {
  grid-column: span 2;
  grid-row: span 2;
  grid-template-columns: 1fr;
}

#info #features legend,
#info #allies legend {
  grid-column: span 1;
}

#info #allies {
  grid-column: span 2;
  grid-template-columns: 1fr;
}

.character-magic {
  grid-column: span 2;
}

#magic #spellcasting {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#magic #spellcasting .spellcasting-class {
  grid-column: span 2;
}

#magic #spellcasting .spells-container input {
  font-size: 18px;
  line-height: 40px;
}

#magic #spells {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#magic #spells .spells-container {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
}

#magic #spells .spells-container .spell-title-field {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

#magic #spells .spells-container legend {
  line-height: 28px;
}

#magic #spells .spells-container .spell-slots-container {
  display: flex;
  text-align: center;
}

#magic #spells .spells-container .spell-slots-container .custom-input-field {
  margin: 0 10px;
}

#magic #spells .spells-container .spell-slots-container input {
  margin-bottom: 0;
  text-align: center;
}

#magic #spells .spell-input {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
}

#magic #spells .spell-input:last-child {
  margin-bottom: 10px;
}

#magic #spells .spell-input .custom-input-field {
  margin-bottom: 0;
}

#magic #spells .spell-input input {
  border-width: 0 0 1px 0;
  border-radius: 0;
  margin-bottom: 0;
  width: 240px;
}

#magic #spells #cantrips .spell-input input {
  width: 263px;
  margin-left: 6px;
}

#magic #spells .spells-container:not(#cantrips) .spell-input div:first-child {
  margin-bottom: 0;
  margin-right: 10px;
  margin-top: 16px;
}

#magic #spells #cantrips {
  grid-column: 1;
  grid-row: 1 / 3;
}

#magic #spells #level-1 {
  grid-column: 1;
  grid-row: 3 / 6;
}

#magic #spells #level-2 {
  grid-column: 1;
  grid-row: 6 / 9;
}

#magic #spells #level-3 {
  grid-column: 2;
  grid-row: 1 / 4;
}

#magic #spells #level-4 {
  grid-column: 2;
  grid-row: 4 / 7;
}

#magic #spells #level-5 {
  grid-column: 2;
  grid-row: 7 / 9;
}

#magic #spells #level-6 {
  grid-column: 3;
  grid-row: 1 / 3;
}

#magic #spells #level-7 {
  grid-column: 3;
  grid-row: 3 / 5;
}

#magic #spells #level-8 {
  grid-column: 3;
  grid-row: 5 / 7;
}

#magic #spells #level-9 {
  grid-column: 3;
  grid-row: 7 / 9;
}